* {
  margin: 0;
}

.heading {
  display: block;
  width: 100vw;
  background-color: #92aabd;
  padding: 40px;
  color: #183b56;
  font-size: 32px;
  font-family: "sarabun";
}

.box {
  box-sizing: border-box;
  width: 536px;
  height: 321px;
  top: 170px;
  left: 55px;
  border: 3px solid #183b56;
  margin: 50px;
  background-color: #e4e9ed;
}

.title {
  display: block;
  margin: 20px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-family: "sarabun";
}

.img {
    display: block;
    margin: 20px 15px;
}

.detail {
    display: block;
    margin: 20px 15px;
    font-family: "sarabun";
}